</div>
<script src="/js/bootstrap.bundle.min.js"></script>
<script>
    function submitDeleteForm(itemId) {
        document.getElementById(`deleteForm-${itemId}`).submit();
    }
</script>
</body>

</html>